html,
body,
#root {
  height: 100%;
}

/* *:focus {
    box-shadow: none !important;
    outline: 0, none !important;
    outline-color: none;
    border-width: 0px;
    color: 'white' !important;
    background: 'black' !important;
    font-weight: bold;
    border-color: rgb(130, 130, 130) !important;
} */

*:active {
  color: 'white' !important;
}

li {
  list-style: none;
}

.scrollBox {
  overflow-y: auto;
}
